# Eseguibile compilato
code/blockchain

# File oggetto compilatore
*.o

# Log
code/logs/

# Risorse lasciate da esecuzioni interrotte
code/*.fifo
code/parent.fifo

# Cartella di configurazione VSCode
.vscode/